

html {
	height: 100%;
}
body {
	font-family: Arial, Helvetica, sans-serif;
        color: #3a4f54;
        background-color: #dfecf1;
	width: 100%;
	height: 100%;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	height: auto !important;
        border-style:solid;
        border-width:1px;
        border-color: black;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 40px;
	background: white;
        width: 100%;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
        background: white;
	width: 100%;
	padding: 0 0 100px 0;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
        padding: 20px;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 270px 0 0;
}


/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	float: left;
	width: 250px;
	margin-left: -340px;
        padding: 20px;
	position: relative;
	background: white;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 1000px;
	margin: -100px auto 0;
	height: 100px;
	background: #BFF08E;
	position: relative;
}













a {
    color: #e33b06;
}

table {
    empty-cells: show;
}

form.jsfcrud_list_form th, td th {
    font-size: x-small;
    color: #4e6a71;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b2d5d6;
    border-bottom-color: #b2d5d6;
    border-left-color: #90b4bd;
    border-right-color: #90b4bd;
    letter-spacing: 3px;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #b2d5d6;
}

td {
    vertical-align: top;
    padding-bottom: 8px;
    font-size: small;
}

form.jsfcrud_list_form td, td td {
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b2d5d6;
    border-bottom-color: #b2d5d6;
    border-left-color: #b2d5d6;
    border-right-color: #b2d5d6;
    vertical-align: baseline;
    padding-bottom: 0px;
}

tr.jsfcrud_odd_row {
    background-color: #fefeff;
    color: #4e6a71;
}


tr.jsfcrud_even_row {
    background-color: #eff5fa;
    color: #4e6a71;
}

#busyImage {
    position: absolute;
    left: 50%;
    top: 50%;
}
